
<body>
  <h3>Books</h3>
  <div class="main-content">
    <table>
      <thead>
        <tr>
        <th class="title">Title</th>
        <th class="body">Body</th>
        <th class="right-space"></th>
      </tr>
      </thead>
      <% @books.each do |book| %>
      <tbody>
        <td class="text"><%= book.title %></td>
        <td class="text"><%= book.body %></td>
        <td>
          <p class="link"><%= link_to "Show", "/books/#{book.id}" %></p>
          <!--Showへのリンク-->
          <p class="link"><%= link_to "Edit", "/books/#{book.id}/edit" %></p>
          <p class="link"><%= link_to "Destroy", "/books/#{book.id}",method: :delete,"data-confirm"=>"Are you sure？" %></p>
          <!--「？」が表示されない…-->
        </td>
      </tbody>
      <% end %>

    </table>

  </div>
  <h3>New book</h3>
  <%= form_with model: @book ,local:true do |f| %>
  <!--送信先URL入れてみる？-->
  <div class="text-box">Title</div>
  <%= f.text_field :title %>
  <div class="text-box">Body</div>
  <%= f.text_area :body %>
  <div><%= f.submit "Create Book" %></div>
  <% end %>


</body>






